<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
</head>
<body>
<h1>Employees</h1>
<a href="/addEmployee">Add Employee</a>
<table>
    <tr>
        <th>Employee Name</th>
        <th>Manager Name</th>
        <th>Salary</th>
        <th>Commission</th>
        <th>Department</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.ename}"></td>
        <td th:text="${employee.mgr != null ? (employeeService.findById(employee.mgr).ename) : 'Yok'}"></td>
        <td th:text="${employee.sal}"></td>
        <td th:text="${employee.comm}"></td>
        <td th:text="${employee.department.dname}"></td>
        <td>
            <img th:src="@{/images/{imageName}(imageName=${employee.img})}" onerror="this.src='default-image.png'" width="50"/>
        </td>
        <td>
            <a th:href="@{/editEmployee/{empno}(empno=${employee.empno})}">Update</a>
            <a th:href="@{/deleteEmployee/{empno}(empno=${employee.empno})}" onclick="return confirm('Do you want to delete this?')">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
